
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #121212;
    font-family:'Montserrat' ,sans-serif,'Open-Sans';
}

.sidebar{
    position: fixed;
    background-color: #000;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 24px;
    width: 300px;
}
.sidebar .logo img
{
    width: 180px;
}
.sidebar .navigation ul{
    margin-top: 20px;
    list-style: none;

}
.sidebar .navigation ul li{
    padding: 10px 0px;
}

.sidebar .navigation ul li a{
    color: #c0bcbc;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}

.sidebar .navigation ul li i{
  margin-right: 10px;
    font-size: 26px;
}
.sidebar .navigation ul li a:hover{
    color: #ffff;
}

.sidebar .policies
{
    position: absolute;
    bottom: 60px;
}

.sidebar .policies ul
{
    list-style: none;
}
.sidebar .policies ul li {
    padding: 10px 10px;
}
.sidebar .policies ul li a{
    color: #c0bcbc;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}
.sidebar .policies ul li a:hover{
    color: #ffff;
    text-decoration: underline;
}
.main-container 
{
    margin-left: 350px;
    margin-bottom: 100px;
}
.main-container .topbar
{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 14px 30px;
}

.main-container .topbar .leftrightbttn button
{
    color: #7a7a7a;
    cursor: none;
    background-color: #09090909;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    margin-right: 10px;
    border: 0px;
    font-size: 22px;

}
.main-container .topbar .leftrightbttn button:hover
{
    color: #ffff;
}
.topbar .navbar 
{
    display: flex;
    align-items: center;
}
.topbar .navbar ul {
    list-style: none;
}
.topbar .navbar ul li{
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}
.topbar .navbar ul li a{
    color: #7a7a7a;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}
.topbar .navbar ul li a:hover{
    color: #ffff;
    font-size: 15px;
}
.topbar .navbar button
{
    background-color: #ffff;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    border-radius: 40px;
    margin-left: 20px;
    border: 0px;
    font-size: 16px;
padding: 14px 30px;
}
.topbar .navbar button:hover{
    font-size: 17px;
}
.spotify-playlist 
{
    padding: 20px 40px;
}
.spotify-playlist h2{
    color: #ffff;
    font-size: 22px;
    margin-bottom: 20px;
}
.spotify-playlist .list{
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-playlist .list .item
{
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.spotify-playlist .list .item:hover
{
    background-color: #252525;
}
.spotify-playlist .list .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}
.spotify-playlist .list .item .play{
    position: relative;
}
.spotify-playlist .list .item .play i
{
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;

}
.spotify-playlist .list .item:hover .play i 
{
    opacity: 1;
    transform: translateY(-20px);
}
.spotify-playlist .list .item h4{
    color: #ffff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.spotify-playlist .list .item p{
    color: #98989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;

}
.spotify-playlist hr{
    margin: 70px 0px 0px;
    border-color: #636363;
}

audio::-webkit-media-controls-play-button
{
    color: #000;
    background-color: #1db954;
    border-radius: 100%;
}
audio::-webkit-media-controls-mute-button
{
    color: #000;
    background-color: #1db954;
    border-radius: 100%;
}
audio::-webkit-media-controls-current-time-display
{
    color: #000;
}
audio::-webkit-media-controls-panel
{
    background-color: #000;
    display: flex;
    width: 100%;
    border-color: transparent;
}
audio::-webkit-media-controls-current-time-display
{
    color: #ffff;
}
audio::-webkit-media-controls-time-remaining-display
{
    color: #ffff;
}
audio::-webkit-media-controls-timeline {
    background-color: #1db954;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  audio::-webkit-media-controls-volume-slider
  {
    background-color: #1db954;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .audio1
  {
    position: fixed;
    background-color: #000;
    bottom: 0;
    width: 74%;
    margin-left: -2px;

  }
  audio::-webkit-media-controls-more-options
  {
    display: none;
  }